* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.container {
    max-width: 1100px;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 8px rgb(207, 207, 207);
}

.mini-container {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 5px rgb(207, 207, 207);
}

h1,
h2,
span {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}

h2 {
    font-size: 35px;
    font-weight: 700;
}

p,
a {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: grey;
}

a {
    text-decoration: none;
    color: #000;
}

hr {
    border: none;
    width: 2px;
    background-color: rgb(158, 158, 158);
}

/* responsive */
@media (max-width: 1024px) {
    .container {
        width: 90%;
        padding: 20px;
    }
}

/* HEADER */
header {
    background: url("../img/image-hero-desktop.jpg");
    height: 400px;
}

header .menu {
    display: flex;
    justify-content: space-around;
    height: 70px;
    align-items: center;
}

header .menu ul {
    display: flex;
    gap: 0 25px;
}

header .menu ul li {
    list-style: none;
    display: flex;
}

header .menu ul li a {
    color: #fff;
}

header .menu .drop {
    display: none;
}

/* responsive */
@media (max-width: 1024px) {
    header {
        background: url("../img/image-hero-mobile.jpg");
        height: 300px;
    }

    header .menu {
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }

    header .menu nav {
        display: none;
    }

    header .menu .drop {
        display: flex;
    }

    header .menu .drop span {
        transform: rotateZ(90deg);
        font-size: 24px;
        font-weight: 500;
        color: #fff;
        cursor: pointer;
    }
}

/* CONTENT_1 */
.content_1 {
    margin-top: -180px;
    position: relative;
}

.content_1 .container .logo-mastercraft {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content_1 .container img {
    position: absolute;
    top: -60px;
}

.content_1 .container h1 {
    margin: 10px 0;
    text-align: center;
}

.content_1 .container p {
    text-align: center;
}

.content_1 .container .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 20px;
}

main .button-padrao a,
.button-disable a,
.content_1 .buttons .button-bookmark a {
    padding: 10px 30px;
    border-radius: 20px;
}

main .button-padrao a {
    background-color: rgb(7, 161, 161);
    color: #fff;
    transition: 0.6s;
}

main .button-padrao a:hover {
    color: rgb(7, 161, 161);
    background-color: rgb(246, 246, 246);
}

main .button-mobile {
    display: none;
}

main .button-bookmark a {
    background-color: rgb(246, 246, 246);
    color: rgb(158, 158, 158);
    transition: 0.3s;
}

.content_1 .buttons .button-bookmark a::before {
    content: url('../img/icon-bookmark.svg');
    position: absolute;
    top: -6px;
    left: -35px;
}

.content_1 .buttons .button-bookmark a:hover {
    background-color: rgb(246, 246, 246);
    color: rgb(7, 161, 161);
    transition: 0.3s;
}

/* responsive */
@media (max-width: 1024px) {
    .content_1 {
        margin-top: -100px;
    }

    .content_1 .container img {
        top: -50px;
    }

    .content_1 .container h1 {
        font-size: 28px;
    }

    .content_1 .container p {
        font-size: 16px;
    }

    main .button-bookmark a {
        display: none;
    }

    main .button-mobile {
        display: block;
    }

    main .button-mobile img {
        top: -15px !important;
        right: 0px;
    }
}

/* CONTENT_2 */
.content_2 {
    padding: 60px 0;
}

.content_2 .display {
    display: flex;
    justify-content: space-between;
}

.content_2 .display .item {
    width: 32%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content_2 .display .item p {
    width: 100%;
    text-align: center;
}

.content_2 .progress {
    background: rgb(246, 246, 246);
    border-radius: 10px;
    height: 10px;
    margin: 0 auto;
    margin-top: 30px;
    width: 90%;
}

.content_2 .progress-ok {
    background: rgb(7, 161, 161);
    border-radius: 10px;
    height: 10px;
    width: 80%;
}

/* resonsive */
@media (max-width: 1024px) {
    .content_2 {
        padding: 30px 0;
    }

    .content_2 .display {
        flex-wrap: wrap;
        justify-content: center;
    }

    .content_2 .display hr {
        display: none;
    }

    .content_2 .display .item {
        width: 70%;
        margin: 0 auto;
        padding-bottom: 15px;
        margin-bottom: 5px;
        border-bottom: 2px solid gray;
    }

    .content_2 .display .item span {
        font-size: 28px;
    }

    .content_2 .display .item p {
        font-size: 16px;
    }
}

/* CONTENT_3 */
.content_3 p {
    margin: 25px 0;
}

.content_3 .mini-container .header,
.content_3 .mini-container .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_3 .mini-container .footer h1::after {
    content: "left";
    color: gray;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    bottom: 14px;
    right: -35px;
}

.hover-black a:hover {
    background-color: teal !important;
    color: #fff !important;
}

.content_3 .disable {
    opacity: 0.3;
}

.button-disable a {
    color: #fff;
    background-color: rgb(158, 158, 158);
    cursor: not-allowed !important;
}

/* responsive */
@media (max-width: 1024px) {
    .content_3 p {
        font-size: 16px;
        margin: 15px 0;
    }

    .content_3 h2 {
        font-size: 24px;
    }

    .content_3 .mini-container .header h2 {
        font-size: 20px;
    }

    .content_3 .mini-container .header h2 {
        font-size: 20px;
    }

    .content_3 .mini-container .footer h1 {
        font-size: 20px;
    }

    .content_3 .mini-container .footer h1::after {
        font-size: 14px;
        font-weight: 450;
        bottom: 6px;
        right: -25px;
    }
}

/* FOOTER */
footer {
    background: url("../img/image-hero-desktop.jpg");
    height: 200px;
    margin-top: 100px;
}

footer .menu {
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
}

footer .menu ul {
    display: flex;
    gap: 0 25px;
}

footer .menu ul li {
    list-style: none;
    display: flex;
}

footer .menu ul li a {
    color: #fff;
}

footer p {
    text-align: center;
    color: #fff;
    margin-top: 75px;
}

/* responsive */
@media (max-width: 1024px) {
    footer {
        margin-top: 60px;
        background: url("../img/image-hero-mobile.jpg");
    }

    footer .menu {
        justify-content: center;
        flex-wrap: wrap;
    }

    footer .menu .logo {
        margin: 20px 0;
        width: 100%;
        justify-content: center;
        display: flex;
    }

    footer .menu ul li a {
        font-size: 16px;
    }
}