/* ==========================
=========== RESET ===========
========================== */
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Sen", sans-serif;
  vertical-align: baseline;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  background-size: 100%;
  line-height: 1.3;
  cursor: default;
}

a {
  transition: 0.3s all;
  text-decoration: none;
  color: #3da6c8;
}

/*
  ========================================
  Typography
  ========================================
*/
b,
strong {
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

/*
  ========================================
  Img
  ========================================
*/
img,
picture,
video,
embed,
object {
  max-width: 100%;
}

img {
  display: inline-block;
  vertical-align: middle;
}

.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

body {
  background-color: #1c2128;
}

.button {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button::after,
.button::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.0823529412);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.input {
  position: relative;
  width: 70%;
}

.input label {
  background-color: #fff;
  position: absolute;
  left: 70px;
  bottom: 43px;
  font-size: 18px;
  color: #41b3ba;
  text-shadow: 1px 1px #275154;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.input input {
  height: 60px;
  width: 100%;
  outline: none;
  border: solid 2px #216435;
  border-radius: 10px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 500;
}

main {
  padding: 50px 0;
}

.title h1 {
  text-align: center;
  color: #fff;
  padding: 50px 0;
  font-size: 35px;
  font-weight: 600;
}

/*
  ========================================
  PROJECT
  ========================================
*/
/* HEADER */
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d333b;
  border-radius: 0 0 20% 20%;
  position: sticky;
  top: 0;
  z-index: 111;
}
header h1 {
  color: #44e0db;
  font-size: 50px;
  font-weight: bold;
}

/* CRONOMETRO */
.cronometro {
  margin-bottom: 50px;
}
.cronometro .getValues {
  display: flex;
  justify-content: center;
}
.cronometro .result {
  text-align: center;
  letter-spacing: 5px;
  color: #347d39;
  padding: 50px 0;
  font-size: 60px;
  font-weight: bold;
}
.cronometro .functions {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.cronometro .button.--save {
  display: none;
}
.cronometro .button.--save::before {
  background-color: #347d39;
}
.cronometro .button.--save.ativo {
  display: flex;
}
.cronometro .button.--stop {
  display: none;
}
.cronometro .button.--stop::before {
  background-color: #7d3434;
}
.cronometro .button.--stop.ativo {
  display: flex;
}
.cronometro .button.--redefinir {
  display: none;
}
.cronometro .button.--redefinir::before {
  background-color: #345f7d;
}
.cronometro .button.--redefinir.ativo {
  display: flex;
}
.cronometro .button.--start {
  display: none;
}
.cronometro .button.--start::before {
  background-color: #3b7d34;
}
.cronometro .button.--start.ativo {
  display: flex;
}
.cronometro .history {
  margin-top: 50px;
}
.cronometro .history p {
  color: #3da6c8;
  letter-spacing: 2px;
  text-align: center;
  font-size: 25px;
}

.relogio .image {
  text-align: center;
  position: relative;
}
.relogio .image img {
  width: 100%;
  max-width: 900px;
  border-radius: 30px;
  margin-left: 22px;
}
.relogio .image .ponteiros {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}
.relogio .image .ponteiros::before {
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  background: #000;
  position: absolute;
  margin-left: 4px;
  z-index: 1;
}
.relogio .image .ponteiros .hora {
  position: absolute;
  width: 15%;
  transform: rotate(-90deg);
}
.relogio .image .ponteiros .hora::after {
  content: "";
  width: 50%;
  height: 4px;
  background-color: rgb(18, 39, 56);
  border-radius: 0 35% 35% 0;
  position: absolute;
}
.relogio .image .ponteiros .minuto {
  position: absolute;
  width: 25%;
  transform: rotate(90deg);
  margin-left: 8px;
}
.relogio .image .ponteiros .minuto::after {
  content: "";
  width: 50%;
  height: 4px;
  background-color: rgb(35, 97, 151);
  border-radius: 0 35% 35% 0;
  position: absolute;
}
.relogio .image .ponteiros .segundo {
  position: absolute;
  width: 35%;
  transform: rotate(90deg);
  margin-left: 8px;
}
.relogio .image .ponteiros .segundo::after {
  content: "";
  width: 50%;
  height: 4px;
  background-color: rgb(35, 151, 108);
  border-radius: 0 35% 35% 0;
  position: absolute;
}

/*# sourceMappingURL=style.css.map */
