@use '../1-base/main.scss';
@use '../1-base/reset.scss';

/* 
  ================================
  CONTENT APRESENTAÇÃO
  ================================
*/

.content_apresentacao {
  & h1 {
    text-align: center;
    color: main.$ColorZero;
    font-size: reset.toRem(40);
  }

  & h2 {
    color: main.$ColorOne;
    font-size: reset.toRem(30);
  }

  & .topico {
    margin-top: 30px;

    & .listFolderFiles {
      margin-left: 50px;
      margin-top: 30px;

      & label {
        color: main.$ColorZero;
        font-size: reset.toRem(20);
      }

      & li ul {
        margin-left: 20px;
        color: #658ff3;
        cursor: pointer;

        & li {
          position: relative;
          border-radius: 5px;

          & span {
            position: absolute;
            visibility: collapse;
            background-color: #f4fbfb;
            border-radius: 10px;
            padding: 10px;
            color: #03738c;
            width: 100%;
            z-index: 1;
            box-shadow: 0 0 10px #d8f1f1;
            left: 105px;
          }

          &:hover {
            background-color: #d8f1f1;

            & span {
              visibility: visible;
            }
          }
        }
      }
    }

    & .display {
      @include main.FlexAroCen;

      & .listFolderFiles {
        width: 55%;
        display: inline-block;
      }

      & .image {
        width: 40%;
        display: inline-block;
        text-align: center;
      }
    }
  }
}

/* 
  ================================
  DISPLAY IMAGES
  ================================
*/

.display_images {
  padding: 70px 0;

  & h2 {
    color: main.$ColorOne;
    font-size: reset.toRem(30);
  }

  & .owl-carousel {
    position: relative;
    padding: 20px 0;
    transition: all 0.5s;

    & a:hover {
      &::after {
        content: "Araste para o lado ou clique na imagem!";
        position: absolute;
        background-color: #fff;
        z-index: 1;
        top: 0;
        height: 50px;
        width: 100%;
        text-align: center;
        color: main.$ColorZero;
        border-radius: 0 0 50px 0px;
      }

      & img {
        box-shadow: 0 0 10px #444;
      }
    }
  }

}

/* 
  ================================
  DISPLAY IMAGES
  ================================
*/

.content_important {
  padding-bottom: 30px;

  & h2 {
    color: main.$ColorOne;
    font-size: reset.toRem(30);
  }

  & .item {
    padding: 20px 0;

    & .list {
      @include main.FlexAroCen;
    }

    & span {
      color: main.$ColorZero;
      font-size: reset.toRem(20);
    }
  }
}

.name_class {
  font-size: reset.toRem(20);
}