@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
/*RESET*/
*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  background-size: 100%;
  line-height: 1.3;
  cursor: default;
}

a {
  transition: 0.3s all;
  text-decoration: none;
  color: #3da6c8;
}

/*
  ========================================
  Typography
  ========================================
*/
b, strong {
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

/*
  ========================================
  Img
  ========================================
*/
img,
picture,
video,
embed,
object {
  max-width: 100%;
}

img {
  display: inline-block;
  vertical-align: middle;
}

/**/
.main_content {
  background: #ffffff;
}

body {
  background: #F5F5F5;
  font-family: "Poppins", sans-serif;
  color: #023859;
  font-weight: 400;
  letter-spacing: 0px;
}

p {
  font-family: "Poppins", sans-serif;
  color: #023859;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin-bottom: 20px;
  font-size: 0.875rem;
}

h1 {
  font-size: 2.1875rem;
  color: #023859;
  font-weight: 600;
  margin-bottom: 15px;
}

/*CONTAINER*/
.container_large,
.container,
.container_small {
  margin: 0 auto;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.container_small {
  max-width: 70rem;
}

.container {
  max-width: 86.25rem;
}

.container_large {
  max-width: 103.75rem;
}

/* DESKTOP LARGE - 1400px*/
/* DESKTOP - 1200px*/
/* LAPTOP - 1024px*/
/* TABLET BIG - 900px*/
/* TABLET - 600px*/
/* MOBILE - 400px*/
.index {
  /* 
    ================================
    CONTENT BANNER
    ================================
  */
  /* 
    ================================
    CONTENT 1
    ================================
  */
  /* 
    ================================
    CONTENT IMAGES
    ================================
  */
  /* 
    ================================
    CONTENT ABOUT
    ================================
  */
  /* DESKTOP LARGE - 1400px*/
  /* DESKTOP - 1200px*/
  /* TABLET BIG - 900px*/
}
.index .content_1 {
  padding: 30px;
  text-align: center;
}
.index .content_images .owl-carousel .owl-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 40%;
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  color: #023859;
}
.index .content_images .owl-carousel .owl-nav span {
  padding: 100% 10px;
  transition: all 0.3s;
  border-radius: 5px;
  background-color: rgba(34, 34, 34, 0.037);
}
.index .content_images .owl-carousel .owl-nav span:hover {
  background-color: rgba(34, 34, 34, 0.252);
}
.index .content_about {
  padding: 60px 0;
}
.index .content_about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index .content_about .container .sobre {
  width: 940px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index .content_about .container .sobre .image {
  width: 390px;
}
.index .content_about .container .sobre .text {
  width: 530px;
  padding: 0 10px;
}
.index .content_about .container .sobre .text h1 {
  margin-bottom: 5px;
}
.index .content_about .container .sobre .text h3 {
  color: #d53a2f;
  font-weight: 900;
  margin-bottom: 20px;
}
.index .content_about .container .sobre .text .display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index .content_about .container .sobre .text .display .item {
  width: 50%;
}
.index .content_about .container .box {
  width: 350px;
  height: 480px;
  text-align: center;
  background: #fff url("../images/box_fundo.png") bottom;
  position: relative;
  box-shadow: 0 0 40px rgb(209, 205, 205);
}
.index .content_about .container .box h1 {
  font-size: 1.125rem;
}
.index .content_about .container .box h3 {
  color: #023859;
}
.index .content_about .container .box::before, .index .content_about .container .box::after {
  content: "";
  background-color: #012E40;
  width: 25px;
  height: 40px;
  position: absolute;
  top: 60px;
}
.index .content_about .container .box::before {
  left: -25px;
}
.index .content_about .container .box::after {
  right: -25px;
}
@media screen and (max-width: 87.5rem) {
  .index {
    /* CONTENT ANOUT */
  }
  .index .content_about {
    padding: 50px 0;
  }
  .index .content_about .container .sobre {
    width: 900px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .index .content_about .container .sobre .image {
    width: 300px;
  }
  .index .content_about .container .sobre .text {
    width: 550px;
  }
  .index .content_about .container .box {
    width: 300px;
    height: 440px;
  }
}
@media (max-width: 75rem) {
  .index .content_about {
    padding: 60px 0;
  }
  .index .content_about .container .sobre {
    width: 55%;
    height: 100%;
    text-align: center;
    flex-direction: column;
  }
  .index .content_about .container .sobre .image {
    width: 100%;
  }
  .index .content_about .container .sobre .image img {
    height: 300px;
  }
  .index .content_about .container .sobre .text {
    padding: 0 10px;
  }
  .index .content_about .container .sobre .text h1 {
    margin-bottom: 5px;
  }
  .index .content_about .container .sobre .text h3 {
    color: #d53a2f;
    font-weight: 900;
    margin-bottom: 20px;
  }
  .index .content_about .container .sobre .text .display {
    flex-direction: column;
  }
  .index .content_about .container .sobre .text .display .item {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .index .content_about .container .sobre .text .display .item p {
    width: 100%;
  }
  .index .content_about .container .box h1 {
    font-size: 1rem;
  }
  .index .content_about .container .box h3 {
    font-size: 0.875rem;
  }
}
@media (max-width: 56.25rem) {
  .index .content_about {
    padding: 60px 0;
  }
  .index .content_about .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .index .content_about .container .sobre {
    width: 100%;
    margin-bottom: 40px;
  }
  .index .content_about .container .sobre .text {
    width: 100%;
  }
}

/* DESKTOP LARGE - 1400px*/
/* DESKTOP - 1200px*/
/* LAPTOP - 1024px*/
/* TABLET BIG - 900px*/
/* 
  ================================
  HEADER
  ================================
*/
header {
  background-color: rgba(1, 45, 63, 0.5411764706);
  z-index: 11;
  position: absolute;
  width: 100%;
}
header .container_large {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
header .container_large nav ul {
  display: flex;
}
header .container_large nav ul a {
  padding: 18px 25px;
  color: #F5F5F5;
  font-weight: 300;
  font-size: 1.125rem;
  border-bottom: solid 4px transparent;
  transition: all 0.3s;
}
header .container_large nav ul a:hover {
  border-bottom: solid #d53a2f;
}
header .container_large .menu-responsive {
  display: none;
}
header.capa_header {
  background: url("../images/capaHeader.png") center;
  position: static;
}

/* DESKTOP LARGE - 1400px*/
@media screen and (max-width: 87.5rem) {
  header {
    width: 100%;
    position: absolute;
  }
  header .container_large {
    display: flex;
    justify-content: space-between;
    padding: 28px 0;
  }
  header .container_large nav ul li a {
    font-size: 1.125rem;
    padding: 12px 16px;
  }
}
/* DESKTOP - 1200px*/
@media (max-width: 75rem) {
  header .container_large nav ul li a {
    font-size: 1rem;
    padding: 12px 14px;
  }
}
/* LAPTOP - 1024px*/
@media (max-width: 64rem) {
  header .container_large {
    padding: 25px 0;
  }
  header .container_large .logo {
    width: 200px;
  }
  header .container_large nav {
    display: none;
  }
  header .container_large .menu-responsive {
    display: block;
    color: #fff;
  }
}
/* TABLET BIG - 900px*/
@media (max-width: 56.25rem) {
  header {
    position: inherit;
    background: #012E40;
  }
}
/* 
  ================================
  FOOTER
  ================================
*/
footer .container_small {
  padding-top: 35px;
}
footer .container_small .menu {
  border-top: solid 1px #1EB4E1;
  border-bottom: solid 1px #1EB4E1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}
footer .container_small .menu nav ul {
  display: flex;
}
footer .container_small .menu nav ul a {
  padding: 10px 15px;
  color: #023859;
  font-weight: 300;
  font-size: 0.9375rem;
  border-bottom: solid 2px transparent;
  transition: all 0.3s;
}
footer .container_small .menu nav ul a:hover {
  border-bottom: solid 2px #d53a2f;
}
footer .container_small .informations {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container_small .informations h1 {
  font-size: 1.1875rem;
  font-weight: 600;
}
footer .container_small .informations p {
  font-size: 0.75rem;
}
footer .container_small .informations .contact p {
  margin-top: 34px;
}
footer .container_small .informations .social h2 {
  color: #023859;
  font-weight: 600;
  font-size: 0.75rem;
}
footer .container_small .informations .social a:hover h2,
footer .container_small .informations .social a:hover p {
  color: #d53a2f;
}
footer .container_small .rodape {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: baseline;
  height: 50px;
}
footer .container_small .rodape p,
footer .container_small .rodape a {
  font-size: 0.75rem;
  color: #023859;
}
footer .container_small .rodape ul {
  display: flex;
}
footer .container_small .rodape ul li {
  padding: 0 10px;
}
footer .container_small .rodape ul li a:hover {
  color: #d53a2f;
}
footer .container_small .rodape img {
  cursor: pointer;
}

/* LAPTOP - 1024px*/
@media (max-width: 64rem) {
  footer .container_small .menu {
    justify-content: center;
  }
  footer .container_small .menu nav ul {
    display: none;
  }
}
/* TABLET BIG - 900px*/
@media (max-width: 56.25rem) {
  footer .container_small .informations {
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
  footer .container_small .informations .social h2 {
    color: #023859;
    font-weight: 600;
    font-size: 0.75rem;
  }
  footer .container_small .informations .social a:hover h2,
footer .container_small .informations .social a:hover p {
    color: #d53a2f;
  }
  footer .container_small .rodape {
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  footer .container_small .rodape p {
    margin-bottom: 5px;
  }
}
/* DESKTOP - 1200px*/
/* LAPTOP - 1024px*/
/* TABLET BIG - 900px*/
/* 
  ================================
  EMPRESA
  ================================
*/
.empresa {
  /* content_1 */
  /* content_mvc */
  /* DESKTOP LARGE - 1400px*/
  /* DESKTOP - 1200px*/
  /* TABLET BIG - 900px*/
  /* video */
  /* LAPTOP - 1024px*/
  /* TABLET BIG - 900px*/
}
.empresa .content_1 {
  /* DESKTOP - 1200px*/
  /* TABLET BIG - 900px*/
}
.empresa .content_1 .display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.empresa .content_1 .display .text {
  width: 42%;
}
.empresa .content_1 .display .text .button {
  background-color: #eae9e9;
  transition: all 0.3s;
  padding: 25px 15px;
}
.empresa .content_1 .display .text .button a {
  color: #03738C;
  font-size: 0.875rem;
}
.empresa .content_1 .display .text .button:hover {
  background-color: #023859;
}
.empresa .content_1 .display .text .button:hover a {
  color: #F1F1F1;
}
.empresa .content_1 .display .image {
  width: 48%;
}
.empresa .content_1 .display .image img {
  height: 400px;
}
@media (max-width: 75rem) {
  .empresa .content_1 .display .image img {
    height: 340px;
  }
}
@media (max-width: 56.25rem) {
  .empresa .content_1 .display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .empresa .content_1 .display .text {
    width: 100%;
  }
  .empresa .content_1 .display .image {
    width: 100%;
    margin-top: 30px;
  }
}
.empresa .content_mvv {
  padding-top: 130px;
  padding-bottom: 60px;
}
.empresa .content_mvv .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.empresa .content_mvv .container .item {
  width: 390px;
  height: 270px;
  padding: 0 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  box-shadow: 0 1px 90px rgba(0, 0, 0, 0.21);
  position: relative;
}
.empresa .content_mvv .container .item h1 {
  margin-bottom: 35px;
  margin-top: 35px;
}
.empresa .content_mvv .container .item h1::after {
  content: "";
  width: 190px;
  height: 2px;
  background-color: #d53a2f;
  position: absolute;
  top: 90px;
  left: 25%;
}
.empresa .content_mvv .container .item ul {
  list-style: disc;
}
.empresa .content_mvv .container .item .list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 0.875rem;
}
@media screen and (max-width: 87.5rem) {
  .empresa .content_mvv .container .item {
    width: 370px;
  }
}
@media (max-width: 75rem) {
  .empresa .content_mvv {
    padding-top: 80px;
    padding-bottom: 0px;
  }
  .empresa .content_mvv .container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .empresa .content_mvv .container .item {
    width: 390px;
    height: 270px;
    padding: 0 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    box-shadow: 0 1px 90px rgba(0, 0, 0, 0.21);
    position: relative;
  }
  .empresa .content_mvv .container .item h1 {
    margin-bottom: 35px;
    margin-top: 35px;
  }
  .empresa .content_mvv .container .item h1::after {
    content: "";
    width: 190px;
    height: 2px;
    background-color: #d53a2f;
    position: absolute;
    top: 90px;
    left: 25%;
  }
  .empresa .content_mvv .container .item ul {
    list-style: disc;
  }
  .empresa .content_mvv .container .item .list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 0.875rem;
  }
}
@media (max-width: 56.25rem) {
  .empresa .content_mvv {
    padding-top: 30px;
  }
}
.empresa .video {
  padding-top: 30px;
  padding-bottom: 60px;
}
.empresa .video .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.empresa .video .container .fundo {
  background-color: #023859;
  width: 100%;
  height: 330px;
  position: absolute;
  z-index: -1;
  top: 0;
}
.empresa .video .container iframe {
  padding-top: 60px;
}
@media (max-width: 64rem) {
  .empresa .video .container .fundo {
    display: none;
  }
}
@media (max-width: 56.25rem) {
  .empresa .video {
    padding-top: 0px;
  }
}

/*
 RESPONSIVO
*/
/* DESKTOP LARGE - 1400px*/
/* DESKTOP - 1200px*/
/* LAPTOP - 1024px*/
/* TABLET BIG - 900px*/
/* 
  ================================
  OBRAS
  ================================
*/
.obras {
  padding-bottom: 60px;
}
.obras .container .display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 75px 80px;
}
.obras .container .display .item {
  width: 390px;
  height: 400px;
}
.obras .container .display .item img {
  border: solid 5px rgb(239, 235, 235);
  width: 100%;
  transition: all 0.3s;
}
.obras .container .display .item h3 {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 30px;
  transition: all 0.3s;
}
.obras .container .display .item p {
  margin-bottom: 0;
  margin-top: 20px;
  transition: all 0.3s;
}
.obras .container .display .item span {
  font-size: 0.75rem;
  transition: all 0.3s;
}
.obras .container .display .item:hover {
  color: #d53a2f;
}
.obras .container .display .item:hover img {
  border-color: #023859;
}
.obras .container .display .item:hover p {
  color: #d53a2f;
}

/* LAPTOP - 1024px*/
@media (max-width: 56.25rem) {
  .obras .container .display {
    gap: 30px;
  }
  .obras .container .display .item h3 {
    font-size: 1.125rem;
  }
}
/* 
  ================================
  SOLUÇÕES
  ================================
*/
.solucoes {
  /* content_1 */
  /* DESKTOP - 1024px*/
  /* display_solucoes */
  /* DESKTOP - 600px*/
  /* content_2 */
  /* DESKTOP - 1024px*/
  /* DESKTOP - 600px*/
}
.solucoes .content_1 .display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px 80px;
}
.solucoes .content_1 .display .txt {
  width: 400px;
}
.solucoes .content_1 .display .txt p {
  font-size: 1rem;
  line-height: 30px;
}
.solucoes .content_1 .display .card {
  width: 500px;
  background-color: #fff;
  box-shadow: 0 1px 90px rgba(0, 0, 0, 0.21);
  padding: 40px 40px;
  position: relative;
}
.solucoes .content_1 .display .card h2 {
  font-size: 1.75rem;
  color: #023859;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: #d53a2f 1px solid;
}
.solucoes .content_1 .display .card ul {
  margin: 0 auto;
  margin-top: 40px;
}
.solucoes .content_1 .display .card ul li {
  margin: 10px;
  font-size: 0.875rem;
  line-height: 2.2;
  padding-left: 25px;
  position: relative;
}
.solucoes .content_1 .display .card ul li::before {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  background-color: #023859;
  top: 10px;
  left: 8px;
}
@media (max-width: 64rem) {
  .solucoes .content_1 .display {
    flex-wrap: wrap;
  }
  .solucoes .content_1 .display .txt {
    width: 100%;
  }
  .solucoes .content_1 .display .card {
    margin: 0 auto;
  }
}
.solucoes .display_solucoes {
  padding: 30px 0;
}
.solucoes .display_solucoes .owl-carousel {
  position: relative;
}
.solucoes .display_solucoes .owl-carousel img {
  height: 205px;
}
.solucoes .display_solucoes .owl-carousel .owl-nav {
  font-weight: bold;
  font-size: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1111;
  height: 205px;
  color: #023859;
  transition: all 0.3s;
}
.solucoes .display_solucoes .owl-carousel .owl-nav .owl-prev, .solucoes .display_solucoes .owl-carousel .owl-nav .owl-next {
  height: 100%;
  width: 50px;
  background-color: rgba(2, 2, 2, 0.31);
}
.solucoes .display_solucoes .owl-carousel .owl-nav :hover {
  background-color: rgba(2, 2, 2, 0.5);
  color: #fff;
}
.solucoes .display_solucoes .owl-carousel .owl-nav :hover span {
  background-color: transparent;
}
@media (max-width: 37.5rem) {
  .solucoes .display_solucoes .owl-carousel .owl-nav {
    display: none;
  }
}
.solucoes .content_2 {
  padding-bottom: 60px;
}
.solucoes .content_2 .display {
  display: flex;
  gap: 20px 60px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.solucoes .content_2 .display .owl-two {
  width: 550px;
}
.solucoes .content_2 .display .owl-two .owl-nav {
  font-weight: bold;
  font-size: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1111;
  height: 96%;
  color: #023859;
  transition: all 0.3s;
}
.solucoes .content_2 .display .owl-two .owl-nav .owl-prev, .solucoes .content_2 .display .owl-two .owl-nav .owl-next {
  height: 97%;
  margin-top: -10px;
  width: 50px;
  background-color: rgba(2, 2, 2, 0.31);
}
.solucoes .content_2 .display .owl-two .owl-nav :hover {
  background-color: rgba(2, 2, 2, 0.5);
  color: #fff;
}
.solucoes .content_2 .display .owl-two .owl-nav :hover span {
  background-color: transparent;
}
.solucoes .content_2 .display .txt {
  width: 540px;
}
.solucoes .content_2 h2 {
  color: #023859;
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 1.6;
}
.solucoes .content_2 p {
  font-size: 1rem;
  font-weight: 400;
  color: #222;
  line-height: 2.2;
}
@media (max-width: 75rem) {
  .solucoes .content_2 .display {
    flex-direction: column-reverse;
  }
  .solucoes .content_2 .display .owl-two {
    margin: 0 auto;
  }
  .solucoes .content_2 .display .txt {
    width: 100%;
  }
  .solucoes .content_2 h2 {
    text-align: center;
    font-size: 1.75rem;
  }
}
@media (max-width: 37.5rem) {
  .solucoes .content_2 .display .owl-two {
    width: 100%;
  }
  .solucoes .content_2 .display .owl-two .owl-nav {
    display: none;
  }
  .solucoes .content_2 h2 {
    text-align: center;
    font-size: 1.25rem;
  }
  .solucoes .content_2 p {
    text-align: center;
  }
}

/* 
  ================================
  CLIENTES
  ================================
*/
.clientes {
  /* SUBTITLE */
  /* LAPTOP - 1024px*/
  /* LOGOS */
  /* LAPTOP - 600px*/
}
.clientes .subTitle {
  position: relative;
}
.clientes .subTitle p {
  font-size: 0.875rem;
  color: #023859;
  margin-left: 120px;
  position: absolute;
  top: -55px;
}
@media (max-width: 64rem) {
  .clientes .subTitle p {
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
  }
}
.clientes .logos .container .display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}
.clientes .logos .container .display img {
  filter: grayscale(100%);
  transition: 0.3s;
}
.clientes .logos .container .display img:hover {
  filter: grayscale(0);
}
@media (max-width: 37.5rem) {
  .clientes .logos .container .display {
    gap: 20px;
  }
  .clientes .logos .container .display img {
    width: 45%;
    filter: grayscale(0);
  }
}

/* 
  ================================
  NOTÍCIAS
  ================================
*/
.noticias .list_noticias {
  padding-bottom: 60px;
}
.noticias .list_noticias .container .owl-carousel {
  display: flex;
  justify-content: center;
}
.noticias .list_noticias .container .owl-carousel .item {
  width: 320px;
  padding: 10px;
  background-color: #F0F0F0;
  border-radius: 5px;
  transition: all 0.5s;
}
.noticias .list_noticias .container .owl-carousel .item img {
  margin-bottom: 15px;
}
.noticias .list_noticias .container .owl-carousel .item .txt h4 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4;
  color: #023859;
  transition: all 0.5s;
}
.noticias .list_noticias .container .owl-carousel .item:hover {
  background-color: #023859;
}
.noticias .list_noticias .container .owl-carousel .item:hover .txt h4 {
  color: #F1F1F1;
}

/* 
  ================================
  CONTATO
  ================================
*/
.contato {
  /* DESKTOP - 1024px*/
  /* TABLET BIG - 900px*/
  /* maps */
}
.contato .content_1 .container .display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}
.contato .content_1 .container .display .forms {
  width: 70%;
  padding: 50px;
  padding-bottom: 95px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 90px rgba(34, 34, 34, 0.21);
  position: relative;
}
.contato .content_1 .container .display .forms .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contato .content_1 .container .display .forms .btn {
  position: absolute;
  right: 50px;
}
.contato .content_1 .container .display .informations {
  width: 300px;
  padding-left: 15px;
  align-items: flex-start;
}
.contato .content_1 .container .display .informations h2 {
  margin: 30px 0;
  font-size: 1.125rem;
  font-weight: 600;
}
.contato .content_1 .container .display .informations .list h4 {
  margin-bottom: 2px;
  font-size: 0.875rem;
  font-weight: 600;
}
.contato .content_1 .container .display .informations .list a {
  display: block;
  margin-bottom: 20px;
  color: #023859;
  padding-left: 30px;
  background: url("../images/iconEmail.png") no-repeat left center;
  transition: all 0.3s;
  font-size: 0.875rem;
}
.contato .content_1 .container .display .informations .list a:hover {
  color: #d53a2f;
}
.contato .content_1 .container .display .informations ul {
  margin-top: 35px;
}
.contato .content_1 .container .display .informations ul li {
  font-size: 0.875rem;
  font-weight: 400;
}
@media (max-width: 64rem) {
  .contato .content_1 .container {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .contato .content_1 .container .display {
    flex-wrap: wrap;
  }
  .contato .content_1 .container .display .forms {
    width: 90%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 75px;
  }
  .contato .content_1 .container .display .informations {
    margin: 0 auto;
    padding: 30px 0;
  }
}
@media (max-width: 56.25rem) {
  .contato .content_1 .container .display .forms .row {
    display: flex;
    flex-wrap: wrap;
  }
  .contato .content_1 .container .display .forms .row div {
    width: 100% !important;
  }
  .contato .content_1 .container .display .informations {
    margin: 0 auto;
    padding: 30px 0;
  }
}
.contato .maps {
  margin-top: 30px;
}

/* 
  ================================
  BUTTON
  ================================
*/
.button {
  padding: 12px 15px;
  width: 250px;
  background-color: #012E40;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}
.button a {
  color: #F5F5F5;
}
.button:hover {
  background-color: #d53a2f;
}

/* 
  ================================
  HEADER TITLE
  ================================
*/
.header_title .container {
  display: flex;
  align-items: center;
  height: 170px;
  position: relative;
}
.header_title .container h1 {
  margin-left: 120px;
  text-transform: uppercase;
}
.header_title .container h1::before {
  content: "";
  width: 80px;
  height: 5px;
  position: absolute;
  top: 45%;
  left: 0;
  background-color: #1EB4E1;
}

/* LAPTOP - 1024px*/
@media (max-width: 64rem) {
  .header_title .container {
    height: 120px;
    justify-content: center;
  }
  .header_title .container h1 {
    margin-left: 0;
  }
  .header_title .container h1::before {
    display: none;
  }
}
/* 
  ================================
  FORMS
  ================================
*/
.forms select, .forms input, .forms textarea {
  display: flex;
  width: 100%;
  padding: 1.125rem 1rem;
  padding-left: 25px;
  font-size: 0.9375rem;
  border-radius: 5px;
  height: 55px;
  border: #e3e2e2 solid 1px;
  margin-bottom: 20px;
  outline: none;
  transition: all 1s;
}
.forms label {
  display: block;
  margin-bottom: 10px;
  color: #03738C;
  font-size: 0.9375rem;
  font-weight: 400;
}
.forms select:focus, .forms input:focus, .forms textarea:focus {
  border-color: #1EB4E1;
}
.forms .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.forms .btn input[type=submit] {
  background-color: #023859;
  color: #fff;
  display: flex;
  width: 130px;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding: 0px 35px;
}

/*# sourceMappingURL=style.css.map */
