@use 'reset';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
// CONTAINER VARIABLE
$SmallContainer: reset.toRem(1120); // Adicionar 40px no valor do container para uso de padding no responsivo 
$Container: reset.toRem(1380); // Adicionar 40px no valor do container para uso de padding no responsivo 
$LargeContainer: reset.toRem(1660); // Adicionar 40px no valor do container para uso de padding no responsivo 


// VARIABLES COLORS
$ColorMain:#023859;
$ColorZero:#d53a2f;
$ColorOne: #03738C;
$ColorTwo: #F5F5F5;
$ColorThree:#F1F1F1;
$ColorFour: #1EB4E1;
$ColorFive: #222222;
$ColorSix:#012E40;

// DISPLAY FLEX
@mixin FlexBetCen {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

@mixin FlexAroCen {
   display: flex;
   justify-content: space-around;
   align-items: center;
} 

@mixin FlexCenCen {
   display: flex;
   justify-content: center;
   align-items: center;
} 

/**/
.main_content {
   background: #ffffff;
}

body {
   background:$ColorTwo;
   font-family: 'Poppins', sans-serif;
   color:$ColorMain;
   font-weight:400;
   letter-spacing: 0px;
}

p {
   font-family: 'Poppins', sans-serif;
   color:$ColorMain;
   line-height: 1.5;
   font-weight: 400;
   letter-spacing: 0.3px;
   margin-bottom: 20px;
   font-size: reset.toRem(14);
}

// BREAKPOINTS

@mixin breakpoint($point) {
   @if $point == smashDesktopLarge {
      @media screen and (max-width: 87.5rem) { @content ; } // 1400px
   }
   @else if $point == smashDesktop {
      @media (max-width: 75rem) { @content ; } //1200px
   }
   @else if $point == smashLaptop {
      @media (max-width: 64rem) { @content ; } //1024px
   }
     @else if $point == smashTabletBig {
      @media (max-width: 56.25rem) { @content ; } //900px
   }
    @else if $point == smashTablet {
      @media (max-width: 37.5rem)  { @content ; } //600px
   }
   @else if $point == smashMobile {
      @media (max-width: 25rem)  { @content ; } //400px
   }

   @else if $point == smashContainer {
    @media (max-width: $largureContainer)  { @content ; }
   }
}


// largureContainer -> BREAKPOINT DA LARGURA DO CONTAINER

/*CONTAINER*/
.container_large,
.container,
.container_small {
   margin:0 auto;
   padding-left: 20px!important;
   padding-right: 20px!important;
 }
 
 .container_small {
    max-width: $SmallContainer;
 }
 
 .container {
    max-width: $Container;
 }
 
 .container_large {
    max-width: $LargeContainer;
 }