@use '../reset';

// --------------------------------------
// POPUP
// --------------------------------------

.popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 60%);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: collapse;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    & .content {
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;

        & .img {
            width: 35%;
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;

            & img {
                order: 0;
                width: 100%;
            }

            & span {
                order: 1;
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(20, 19, 19, 0.849);

                font: {
                    size: 18px;
                    style: italic;
                }
            }
        }
    }

    & #close_popup {
        width: 32px;
        height: 32px;
        cursor: pointer;
        position: absolute;
        right: 32px;
        top: 32px;
        opacity: 0.3;

        &:hover {
            opacity: 1;
        }

        &::before,
        &::after {
            position: absolute;
            left: 15px;
            content: "";
            height: 33px;
            width: 2px;
            background-color: #fff;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}